<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LiveAnalyser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LiveAnalyser.Properties.Settings>
            <setting name="LastOpenDialogFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SerialPortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="SerialPortBaud" serializeAs="String">
                <value>4800</value>
            </setting>
            <setting name="SerialPortStopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="SerialPortParity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="SerialPortDataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="COMArchivesFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ActivateSpeech" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCOMArchive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Waypoints" serializeAs="String">
                <value />
            </setting>
        </LiveAnalyser.Properties.Settings>
    </userSettings>
</configuration>